<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="DSP-MZGLP" value="https://gitlab.emzi0767.dev/api/v4/projects/27/packages/nuget/index.json" />
    <add key="DSharpPlus (SlimGet)" value="https://nuget.emzi0767.com/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>